settings {
pidfile = "/dev/shm/lsyncd.pid",
log = all,
logfile = "/dev/stdout",
statusFile = "/dev/stdout",
statusInterval = 5,
delay = {{  delay|default("0") }},
nodaemon = true,
insist = true,
inotifyMode = "CloseWrite or Modify"
}

{% if (masters|string() != "all" or masters|string() != "") %}
# Config defined a list of masters: {{ masters }}
{% for master in masters.split(":") %}
{% if hostname in master %}
# This host ({{ hostname }}) is a master
{% set watchdirs_list = watchdirs.split(":") %}
  {% for watchdir in watchdirs_list %}
{% set nodes_list = nodes.split(":") %}
  {% for node in nodes_list %}
{% if node != hostname %}
sync {
  default.rsync,
  source="{{ watchdir }}",
  target="rsync://{{ rsync_user|default("sync-user")}}@{{ node }}:{{ rsync_port|default("873") }}/root/{{ watchdir }}/",
  rsync = {
    archive = true,
    perms = true,
    owner = true,
    compress = true,
    acls = true,
    verbose = true,
    password_file = "/dev/shm/.rsync.secret"
  }
}
{% endif  %}
{% endfor %}
{% endfor %}
{% endif  %}
{% endfor %}

{% else   %}
# No master or "all" masters defined. Configure syncing all-to-all.
{% set watchdirs_list = watchdirs.split(":") %}
  {% for watchdir in watchdirs_list %}
{% set nodes_list = nodes.split(":") %}
  {% for node in nodes_list %}
sync {
  default.rsync,
  source="{{ watchdir }}",
  target="rsync://{{ rsync_user|default("sync-user")}}@{{ node }}:{{ rsync_port|default("873") }}/root/{{ watchdir }}/",
  rsync = { 
    archive = true,
    perms = true,
    owner = true,
    compress = true,
    acls = true,
    verbose = true, 
    password_file = "/dev/shm/.rsync.secret"
  }
}
{% endfor %}
{% endfor %}
{% endif  %}
