[program:rsync]
command=/usr/bin/rsync --no-detach --daemon --port {{ rsync_port|default("873") }} --config /etc/rsyncd.conf
autostart=true
autorestart=true
priority=5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
